<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    * {
        text-align: center;
        background-color: aliceblue;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>ReSearch Results</title>
</head>

<body>
    <h1>ReSearch Results</h1>
    {% if not has_result %}
    <h4 style="color:red;">{{ message }}</h4>

    {% else %}

    <h4 style="color:green;">{{ total }} search results found! </h4>
    <h3>Here are the top 10 search results</h3>
    {% for paragraph in result %}
    <p>Paragraph Index: {{ paragraph.index }}: <br>
        {{ paragraph.paragraph }}</p>
    {% endfor %}

    {% endif %}

</body>

</html>
